<h1>Listing events for year <%= @year %> </h1>

<div class="container-fluid" style="margin-bottom:12px">
  <div class="row">
    <div class="col-xs-12 col-md-8" style="padding:0">
      <%= link_to("Download all events in CSV", events_path(format: :csv)) %>
    </div>
    <div class="col-xs-6 col-md-4" style="text-align:right;padding:0">
      <%= link_to 'Add a new event', new_event_path, class: "btn btn-info" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-md-1" style="padding:0">
      <%= form_tag(events_path, method: :get) do %>
        <%= select_year(
          @year,
          { field_name: 'year', start_year: @start_year, end_year: @end_year },
          { class: "form-control" }
        ) %>
      <% end %>
    </div>
  </div>
</div>

<table data-toggle="table" class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Action</th>
      <th>Symbol</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Currency</th>
      <th>Conversion</th>
      <th>Tot</th>
      <th>Average Carrying</th>
      <th>Capital Gain</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.executed_on %></td>
        <td><%= event.action.upcase %></td>
        <td><%= event.stock.symbol %></td>
        <td><%= event.quantity %></td>
        <td><%= event.price %></td>
        <td><%= event.currency.code %></td>
        <td><%= event.conversion_rate %></td>
        <td><%= number_to_currency(event.total, locale: :da) %></td>
        <td><%= number_to_currency(event.average_carrying, locale: event.currency.locale) %></td>
        <td><%= number_to_currency(event.capital_gain, locale: :da) %></td>
        <td class="event-edit"><%= link_to 'Edit', edit_event_path(event) %></td>
        <td class="event-destroy"><%= link_to 'Destroy', event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Year stats for <%= @year %></h3>

<script>
$(function() {
  $('#date_year').change(function() {
    this.form.submit();
  });
});
</script>

<p>
  <strong>Total capital gain this year:</strong>
  <%= number_to_currency(@total_capital_gain, locale: :da) %>
</p>

<p>
  <strong>Total stocks acquired:</strong>
  <%= @quantity_acquired %>
</p>

<p>
  <strong>Total stocks sold:</strong>
  <%= @quantity_sold %>
</p>

<p>
  <strong>Total stock left in pool:</strong>
  <%= @quantity_acquired - @quantity_sold %>
</p>

<hr>

<h3>To pay in <%= @year %></h3>
<p>
  <b>This is not a precise computation</b> For correct amount always check
  <a href="From SKAT Satser https://www.skat.dk/SKAT.aspx?oId=2035568">SKAT rates for the year</a>
</p>
<p>
  <strong>Total taxes for not married:</strong>
  <%= number_to_currency(@taxes_unmarried, locale: :da) %>
</p>
<p>
  <strong>Total taxes for married:</strong>
  <%= number_to_currency(@taxes_married, locale: :da) %>
</p>

<br>
