<h1>Listing events</h1>

<table data-toggle="table" class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Action</th>
      <th>Symbol</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Currency</th>
      <th>Conversion</th>
      <th>Tot</th>
      <th>Average Carrying</th>
      <th>Capital Gain</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.executed_on %></td>
        <td><%= event.action.upcase %></td>
        <td><%= event.stock.symbol %></td>
        <td><%= event.quantity %></td>
        <td><%= event.price %></td>
        <td><%= event.currency.code %></td>
        <td><%= event.conversion_rate %></td>
        <td><%= number_to_currency(event.total, locale: :da) %></td>
        <td><%= number_to_currency(event.average_carrying, locale: event.currency.locale) %></td>
        <td><%= number_to_currency(event.capital_gain, locale: :da) %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><strong>Total capital gain this year:</strong> <%= @total_capital_gain %></p>

<br>

<%= link_to 'New Event', new_event_path %>
